td, th {
  vertical-align: middle !'important';
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
  /* 20 top and bottom, 0px left and right */
}
svg {
  height: 150px;
}

/* Find the first td of each row,
and the first td, its child div which is google map */
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
